<mat-dialog-content style="white-space: pre-wrap; text-align: center">
    <div>
        <form #groupForm="ngForm" class="form-row" style="padding: 15px; margin: 15px 0">

            <div class="my_layout" fxLayout="row">
                <label class="profile-image" for="event_image_file">
                    <img src="{{event_image}}" alt="Profile image and button to change the image"
                         title="Cliquez pour changer l'image">
                </label>
                <input id="event_image_file" [disabled]="true" type="file" accept=".jpg,.png,.jpeg" class="image-input" style="display: none;">

                <div fxLayout="column" style="display: grid; width: 70%">
                    <mat-form-field>
                        <input matInput
                               placeholder="Nom de l'évenement"
                               [(ngModel)]="this.name"
                               name="title"
                               [readonly]="true"
                               required>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput
                               placeholder="Description"
                               name="description"
                               [(ngModel)]="this.description"
                               [readonly]="true"
                        >
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput
                               placeholder="Lieux"
                               name="location"
                               [(ngModel)]="this.location"
                               [readonly]="true"
                        >
                    </mat-form-field>

                </div>
            </div>


            <div class="my_layout" fxLayout="row">
                <mat-form-field>
                    <mat-select placeholder="Visibilité" required
                                [(value)]="visibility"
                                [disabled]="true"
                                name="eventType">
                        <mat-option *ngFor="let visibility of eventVisibilities" [value]="visibility.value">
                            {{visibility.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Type" required
                                [(ngModel)]="this.type"
                                [(value)]="this.type"
                                [disabled]="true"
                                name="eventType">
                        <mat-option *ngFor="let type of eventTypeSrv.eventTypes" [value]="type.value">
                            {{type.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="width: 8%;">
                    <mat-label>Couleur</mat-label>
                    <input matInput
                           type="color"
                           name="color"
                           [(ngModel)]="this.backgroundColor"
                           [readonly]="true">
                </mat-form-field>
            </div>

            <div class="my_layout" fxLayout="row">
                <mat-form-field style="width:40%">
                    <input matInput
                           class="form-control"
                           type="text"
                           mwlFlatpickr
                           [(ngModel)]="this.formated_start"
                           [altInput]="true"
                           [convertModelValue]="true"
                           [enableTime]="true"
                           [disabled]="true"
                           name="start"
                           dateFormat="Y-m-dTH:i"
                           altFormat="F j, Y H:i"
                           placeholder="Date de debut"
                           required>
                </mat-form-field>

                <mat-form-field style="width:40%">
                    <input matInput
                           class="form-control"
                           type="text"
                           mwlFlatpickr
                           [(ngModel)]="this.formated_end"
                           [altInput]="true"
                           [convertModelValue]="true"
                           [enableTime]="true"
                           [disabled]="true"
                           name="end"
                           dateFormat="Y-m-dTH:i"
                           altFormat="F j, Y H:i"
                           placeholder="Date de fin"
                           required>
                </mat-form-field>
            </div>
        </form>
    </div>
</mat-dialog-content>

<share-buttons [theme]="'material-dark'"
               [include]="['facebook','messenger','whatsapp','twitter','linkedin','google','sms','email']"
               [show]="8"
               [size]="4"
               [autoSetMeta]="false"
                [url]="this.share_url"
></share-buttons>
