$colors: (
  primary:    #1C4891,
  secondary:  #5ABC95,
  danger:     #CF0A2C,
  light:      #f4f4f4,
  dark:       #222,
  energized:  #ffc527,
  royal:      #7e60ff,
  subtle:     #444444,
  vibrant:    rebeccapurple,
  bright:     #ffc125,
  desgrey:    #717271,
);
