<div class="main-full-component">
  <section class="main-container" style="box-shadow: none !important;">
    <h3 style="text-align: center">Mon Profil</h3>
  </section>
  <div class="profile-image">
    <img src="{{image}}" alt="Profile image" title="Profile image">
  </div>
  <div class="main-container" id="Profile-data-container">
    <div class="profile-container" *ngIf="user && modifying === false">
      <div>
        <h6><strong><i class="fas fa-user"></i> Pseudo</strong></h6>
        <p class="profile-field-info">{{user.pseudo}}</p>
      </div>

      <div>
        <h6><strong><i class="fas fa-envelope"></i> Email</strong></h6>
        <p class="profile-field-info">{{user.email}}</p>
      </div>
    </div>

    <div class="profile-container" *ngIf="user && modifying === true">
      <form>
      <mat-form-field class="col-12">
        <input matInput type="text" name="pseudo" [(ngModel)]="pseudo" id="modify_pseudo" class="form-control" placeholder="Pseudo" required>
      </mat-form-field>

      <mat-form-field class="col-12">
        <input matInput type="text" name="email" [(ngModel)]="email" id="modify_email" class="form-control" placeholder="Email" pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" required>
      </mat-form-field>
        <div class="buttons-spaced" style="display: flex; flex-flow: row; justify-content: space-evenly; align-items: center">
          <button mat-raised-button type="button" class="btn-danger" (click)="deleteProfile()">Supprimer</button>
          <button mat-raised-button type="button" class="btn-primary" (click)="modifying = false; pseudo = null; email = null">Annuler</button>
          <button mat-raised-button type="button" class="btn-secondary" type="submit" [disabled]="checkInfoFormat() === true" (click)="modifyProfile()">Modifier</button>
        </div>
      </form>
    </div>

    <div style="display: flex; flex-flow: row-reverse; margin: 5px 0; justify-content: space-between" *ngIf="user">
      <button mat-raised-button type="button" class="btn-primary" *ngIf="modifying === false" (click)="startModification()">Modifier le profil</button>
      <button mat-raised-button type="button" class="btn-danger" *ngIf="modifying === false" (click)="deleteProfile()">Supprimer le profil</button>
    </div>
  </div>

  <section class="main-container">
    <section class="buttons-spaced-reversed">
      <div class="g-signin2" data-size="large" data-longtitle="true" data-onsuccess="onSignIn"></div>
      <div class="fb-login-button" data-size="large" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false" onlogin="facebookLogin()"></div>
    </section>
</section>
</div>
