<div class="main-full-component">
  <div class="main-container">
  <section id="Page-title">
    <h3 i18n="@@ProfileTitle" style="text-align: center">Mon Profil</h3>
  </section>
  <label class="profile-image" for="file-input">
    <img src="{{image}}" i18n-alt="@@ProfileImageAlt" alt="Profile image and button to change the image" i18n-title="@@ProfileImageTitle" title="Cliquez pour changer l'image">
  </label>
  <input id="file-input" type="file" accept=".jpg,.png,.jpeg" class="image-input" (change)="onFileChange($event)" style="display: none">
  <div class="child-container" id="Profile-data-container">
    <div class="profile-container" *ngIf="user && modifying === false">
      <div>
        <h6 i18n="@@ProfileUsername"><strong><i class="fas fa-user"></i> Pseudo</strong></h6>
        <p class="profile-field-info">{{user.pseudo}}</p>
      </div>

      <div>
        <h6 i18n="@@ProfileEmail"><strong><i class="fas fa-envelope"></i> Email</strong></h6>
        <p class="profile-field-info">{{user.email}}</p>
      </div>
    </div>

    <div class="profile-container" *ngIf="user && modifying === true">
      <form>
      <mat-form-field class="col-12">
        <input matInput type="text" name="pseudo" [(ngModel)]="pseudo" id="modify_pseudo" class="form-control" i18n-placeholder="@@ProfileUsernamePlaceholder" placeholder="Pseudo" required>
      </mat-form-field>

      <mat-form-field class="col-12">
        <input matInput type="text" name="email" [(ngModel)]="email" id="modify_email" class="form-control" placeholder="Email" pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" required>
      </mat-form-field>
        <div class="buttons-spaced" style="display: flex; flex-flow: row; justify-content: space-evenly; align-items: center">
          <button i18n="@@ProfileDelete" mat-raised-button type="button" class="btn-danger" (click)="deleteProfile()">Supprimer</button>
          <button i18n="@@ProfileCancel" mat-raised-button type="button" class="btn-primary" (click)="modifying = false; pseudo = null; email = null">Annuler</button>
          <button i18n="@@ProfileModify" mat-raised-button type="button" class="btn-secondary" type="submit" [disabled]="checkInfoFormat() === true" (click)="modifyProfile()">Modifier</button>
        </div>
      </form>
    </div>

    <div style="display: flex; flex-flow: row-reverse; margin: 5px 0; justify-content: space-between" *ngIf="user">
      <button i18n="@@ProfileProfileModification" mat-raised-button type="button" class="btn-primary" *ngIf="modifying === false" (click)="startModification()">Modifier le profil</button>
      <button i18n="@@ProfileProfileDeletion" mat-raised-button type="button" class="btn-danger" *ngIf="modifying === false" (click)="deleteProfile()">Supprimer le profil</button>
    </div>
  </div>

  <section class="child-container" id="Social-medias-sync">
    <h5 i18n="@@ProfileSynchronization" style="text-align: center"><strong>Se synchroniser avec:</strong></h5>
    <section class="buttons-spaced-reversed">
      <button (click)="bindFB()" mat-raised-button><img src="assets/Pictures/facebook.png" width="40" height="40" style="padding: 6px;margin-left: -15px;">  Facebook</button>
      <button (click)="bindGoogle()" mat-raised-button><img src="assets/Pictures/google.png" width="40" height="40" style="padding: 6px;margin-left: -12px;">  Google</button>
    </section>
  </section>
  </div>
</div>
