@import "~scss/variables";

.profile-image {
  display: flex;
  flex-flow: row;
  //justify-content: flex-start; To be activated when banners are up
  justify-content: center;
  align-items: center;
  background-color: map_get($colors, light);
  padding: 15px;
  min-height: calc(7.5vw + 7.5vh);

  & > img {
    border-radius: 50%;
    width: calc(5vw + 5vh);
    height: calc(5vw + 5vh);
  }

  @extend %main-container;
}

.main-full-component {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.main-container, %main-container {
  width: 40% !important;
}

.profile-container {
  position: relative;
  border: none;
  display: flex;
  flex-flow: column;
  justify-content: space-around;

  > .data-container {
    display: flex;
    flex-flow: row;
    padding: 5px;

    > * {
      margin: 0 5px;
    }

    > p {
      border-bottom: 1px solid black;
    }
  }

  .profile-field-info {
    border-radius: 3px;
    border: 1px solid map_get($colors, desgrey);
    padding: 5px;
    background-color: rgba(250, 250, 250, 1);
  }
}

.buttons-spaced {
  & > button {
    margin: 0 5px;
    padding: 0;
  }
}

@media screen and (max-width: map_get($widths, l)) {
  .main-container, %main-container {
    width: 75% !important;
  }
}