html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.button_layout {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

#calendar {
  max-width: 950px;
  margin: 40px auto;
}

.removebtn {
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  width: 13px;
  height: 13px;
  text-align: center;
  border-radius: 50%;
  font-size: 10px;
  cursor: pointer;
  background-color: #FFF
}

//agm-map {
//  height: 300px;
//}

//.map {
//  max-width: 950px;
//  margin: 40px auto;
//  //height: 70%;
//  //width: 100%;
//}

//#mapid {
//  height: 180px;
//}
