<div id="calendar">

<!--        <div id="map" class="map"></div>-->
<!--    <div id="mouse-position"></div>-->


<!--    <agm-map *ngIf="this.display_map === true" [latitude]="lat" [longitude]="lng">-->
<!--        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
<!--    </agm-map>-->
    <div class="button_layout" fxLayout="row">
        <button class="mat-raised-button btn-secondary" (click)="switch_map_calendar()">{{this.switch_button_content}}</button>
        <div *ngIf="permSrv.permission[role].CRUD === true && displayOnly === false">
            <button style="margin-left: 5px" class="mat-raised-button btn-secondary" (click)="foundSlots()">Trouver un créneau</button>
            <button style="margin-left: 5px" class="mat-raised-button btn-secondary" (click)="addEvent()">Ajouter un évènement</button>
        </div>
    </div>

<!--    <div *ngIf="permSrv.permission[role].CRUD === true && displayOnly === false"  class="button_layout" fxLayout="row">-->

    <map *ngIf="this.display_map === true" [address]="this.events_with_address"></map>

    <full-calendar *ngIf="this.display_map === false"
            #fullcalendar
            defaultView="dayGridMonth"
            [editable]="!displayOnly"
            [role]="role"
            [events]="events"
            [header]="options.header"
            [customButtons]="options.customButtons"
            (dateClick)="dateClick($event)"
            (eventDragStop)="eventDragStop($event)"
            (eventDrop)="eventDrop($event)"
            [plugins]="options.plugins"
            (eventClick)="eventClick($event)"
            [locale]="options.locale"
            [themeSystem]="options.themeSystem"
            (eventResize)="eventResize($event)"
    ></full-calendar>
<!--    <div *ngIf="permSrv.permission[role].CRUD === true && displayOnly === false"  class="button_layout" fxLayout="row">-->
<!--&lt;!&ndash;        <button class="mat-raised-button btn-secondary" (click)="foundSlots()">Trouver un créneau</button>&ndash;&gt;-->
<!--&lt;!&ndash;        <button style="margin-left: 5px" class="mat-raised-button btn-secondary" (click)="addEvent()">Ajouter un évènement</button>&ndash;&gt;-->
<!--    </div>-->

</div>
