//.title-and-logo {
//  justify-content: center;
//}
//
//#perfectweek_logo {
//  width: 100px;
//  height: auto;
//}
//
//h3 {
//  margin: 0 0 10px;
//}
//
////AMINNNNNNNNNNNN CA MARCHE PASSSSSSSSSSSSSSSSS
////.cal-day-badge ng-star-inserted
//.cal-day-badge .ng-star-inserted {
//  color: #5ABC95;
//}
//
//pre {
//  background-color: #f5f5f5;
//  padding: 15px;
//}
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

//#top {
//  background: #eee;
//  border-bottom: 1px solid #ddd;
//  padding: 0 10px;
//  line-height: 40px;
//  font-size: 12px;
//}

#calendar {
  max-width: 900px;
  margin: 40px auto;
}
