<div class="row text-center" style="display: flex; flex-flow: row; flex-wrap: wrap; justify-content: space-evenly">
  <div id="Day">
    <div class="btn-group">
      <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate)">
        Précédent
      </div>
      <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate)">
        Aujourd'hui
      </div>
      <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate)">
        Suivant
      </div>
    </div>
  </div>
  <div id="Title">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
  </div>
  <div id="View">
    <div class="btn-group">
      <div
          class="btn btn-primary"
          (click)="viewChange.emit('month')"
          [class.active]="view === 'month'">
        Mois
      </div>
      <div
          class="btn btn-primary"
          (click)="viewChange.emit('week')"
          [class.active]="view === 'week'">
        Semaine
      </div>
      <div
          class="btn btn-primary"
          (click)="viewChange.emit('day')"
          [class.active]="view === 'day'">
        Jour
      </div>
    </div>
  </div>
</div>
<br>
`