@import "~scss/variables";

.groups {
  width: 100%;
  height: 100%;
}

.group {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.9rem;

  &:hover {
    cursor: pointer;
    background-color: map_get($colors, light);
  }

  & > img {
    margin-right: 1rem;
    width: calc(2.5vw + 2.5vh);
    height: calc(2.5vw + 2.5vh);
    border-radius: 50%;
  }

  & > h4 {
    font-size: 1.2rem;
  }
}