<section class="loader" *ngIf="(ready$ | async) === false; else loaded"></section>
<ng-template #loaded>
    <section class="groups" id="fullsize">
        <section class="group-header">
            <section class="group-search-bar">
                <i class="fas fa-search"></i>
                <input i18n-title="@@CalendarListSearchTitle" title="Rechercher un calendrier" type="text" name="search" id="search" class="form-control" i18n-placeholder="@@CalendarListSearch" placeholder="Rechercher un calendrier" matInput (keyup)="search$.next($event.target.value)">
            </section>
            <a href="javascript:void(0)" (click)="createGroup()" title="Créer un nouveau calendrier"><i class="far fa-edit"></i></a>
        </section>
        <section *ngIf="displayUser === true" >
            <section>
                <h5 i18n="@@CalendarListGlobal" style="padding: 15px"><strong>Calendrier global</strong></h5>
                <mat-divider [inset]="false"></mat-divider>
            </section>
            <section tabindex="-1" #user class="group" (click)="sendGroup(-1, -1)" title="{{user.name}}">
                <img *ngIf="profileSrv.userProfile$ | async, let user" src="{{user.image}}" i18n="@@CalendarListImageAlt" alt="User's profile image" i18n-title="@@CalendarListImageTitle" title="User's profile image">
                <h4 *ngIf="profileSrv.userProfile$ | async, let user">{{user.name}}</h4>
            </section>
        </section>
        <mat-divider [inset]="false"></mat-divider>
        <section>
            <h5 i18n="@@CalendarListYourCalendar" style="padding: 15px"><strong>Vos calendriers</strong></h5>
            <mat-divider [inset]="false"></mat-divider>
        </section>
        <section #groups *ngFor="let group of displayGroups; let idx = index" class="group" (click)="sendGroup(group.id, idx)" tabindex="{{idx}}" title="{{group.name}}">
            <img src="{{group.image}}" alt="Group's image" title="Group's image">
            <h4>{{group.name}}</h4>
        </section>
    </section>
    <section class="mobile-groups" id="mobile-size">
        <section class="group" (click)="sendGroup(-1, -1)" tabindex="-1" title="You">
            <img src="{{userImage}}" alt="User's profile image" title="User's profile image">
            <h4 i18n="@@CalendarListMobileViewSelf">Moi</h4>
        </section>
        <section #groups *ngFor="let group of displayGroupsMobile; let idx = index" class="group" (click)="sendGroup(group.id, idx)" tabindex="{{idx}}" title="{{group.name}}">
            <img src="{{group.image}}" alt="Calendar's image" title="Calendar's image">
            <h4>{{group.name}}</h4>
        </section>
    </section>
</ng-template>