<section class="groups">
    <section *ngFor="let group of userGroups" class="group">
        <img src="/assets/Pictures/logo_circle.png" alt="Group's image" title="Group's image">
        <h4>{{group.name}}</h4>
    </section>
    <section *ngFor="let group of userGroups" class="group">
        <img src="/assets/Pictures/logo_circle.png" alt="Group's image" title="Group's image">
        <h4>{{group.name}}</h4>
    </section>
    <section *ngFor="let group of userGroups" class="group">
        <img src="/assets/Pictures/logo_circle.png" alt="Group's image" title="Group's image">
        <h4>{{group.name}}</h4>
    </section>
</section>