<div class="flex flex-r-centered">
    <h2 i18n="@@ModifyEventTitle" mat-dialog-title>Modification d'évènement</h2>
</div>
<mat-dialog-content style="white-space: pre-wrap; text-align: center">
    <div>
        <form #groupForm="ngForm" (ngSubmit)="modifyEvent()" class="form-row" style="padding: 15px; margin: 15px 0">

            <div class="my_layout" fxLayout="row">
                <label class="profile-image" for="event_image_file">
                    <img src="{{event_image}}" i18n-alt="@@ModifyEventImageAlt" alt="Profile image and button to change the image"
                         i18n-title="@@ModifyEventImageTitle" title="Cliquez pour changer l'image">
                </label>
                <input id="event_image_file" [disabled]="!PermSrv.permission[data.role].CRUD" (change)="ModifyImageEvent($event)" type="file" accept=".jpg,.png,.jpeg" class="image-input" style="display: none;">

                <div fxLayout="column" style="display: grid; width: 70%">
                    <mat-form-field>
                        <input matInput
                               i18n-placholder="@@ModifyEventName"
                               placeholder="Nom de l'évenement"
                               [(ngModel)]="pw_event.name"
                               name="title"
                               [readonly]="!PermSrv.permission[data.role].CRUD"
                               required>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput
                               placeholder="Description"
                               name="description"
                               [(ngModel)]="pw_event.description"
                               [readonly]="!PermSrv.permission[data.role].CRUD"
                               >
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput
                               i18n-placholder="@@ModifyEventLocation"
                               placeholder="Lieux"
                               name="location"
                               [(ngModel)]="pw_event.location"
                               [readonly]="!PermSrv.permission[data.role].CRUD"
                               >
                    </mat-form-field>

                </div>
            </div>


            <div class="my_layout" fxLayout="row">
                <mat-form-field>
                    <mat-select i18n-placholder="@@ModifyEventVisibility" placeholder="Visibilité" required
                                [(value)]="pw_event.visibility"
                                [disabled]="!PermSrv.permission[data.role].CRUD"
                                name="eventType">
                        <mat-option *ngFor="let visibility of eventVisibilities" [value]="visibility.value">
                            {{visibility.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Type" required
                                [(ngModel)]="pw_event.type"
                                [(value)]="pw_event.type"
                                [disabled]="!PermSrv.permission[data.role].CRUD"
                                name="eventType">
                        <mat-option *ngFor="let type of eventTypeSrv.eventTypes" [value]="type.value">
                            {{type.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="width: 8%;">
                    <mat-label i18n="@@ModifyEventColor">Couleur</mat-label>
                    <input matInput
                           type="color"
                           name="color"
                           [(ngModel)]="pw_event.backgroundColor"
                           [readonly]="!PermSrv.permission[data.role].CRUD">
                </mat-form-field>
            </div>

            <div class="my_layout" fxLayout="row">
                <mat-form-field style="width:40%">
                    <input matInput
                           class="form-control"
                           type="text"
                           mwlFlatpickr
                           [(ngModel)]="this.pw_event.formated_start"
                           [altInput]="true"
                           [convertModelValue]="true"
                           [enableTime]="true"
                           [disabled]="!PermSrv.permission[data.role].CRUD"
                           name="start"
                           dateFormat="Y-m-dTH:i"
                           altFormat="F j, Y H:i"
                           i18n-placholder="@@ModifyEventBegDate"
                           placeholder="Date de debut"
                           [locale]="locale"
                           [time24hr]="data.locale === 'fr'"
                           required>
                </mat-form-field>

                <mat-form-field style="width:40%">
                    <input matInput
                           class="form-control"
                           type="text"
                           mwlFlatpickr
                           [(ngModel)]="this.pw_event.formated_end"
                           [altInput]="true"
                           [convertModelValue]="true"
                           [enableTime]="true"
                           [disabled]="!PermSrv.permission[data.role].CRUD"
                           name="end"
                           dateFormat="Y-m-dTH:i"
                           altFormat="F j, Y H:i"
                           i18n-placholder="@@ModifyEventEndDate"
                           placeholder="Date de fin"
                           [locale]="locale"
                           [time24hr]="data.locale === 'fr'"
                           required>
                </mat-form-field>
            </div>
        </form>
    </div>
</mat-dialog-content>

<share-buttons [theme]="'material-dark'"
               [include]="['facebook','messenger','whatsapp','twitter','linkedin','google','sms','email']"
               [show]="3"
               [size]="4"
               [description]="share_str + pw_event.name"
               [autoSetMeta]="false"
               [url]="this.share_url"
></share-buttons>
<br>

<mat-dialog-actions *ngIf="PermSrv.permission[data.role].CRUD === true" style="display: flex; justify-content: space-between">
    <button i18n="@@ModifyEventCancel" class="mat-raised-button btn-primary" [mat-dialog-close]="null">Annuler</button>
    <button i18n="@@ModifyEventDelete" class="mat-raised-button btn-danger" (click)="deleteEvent()">Supprimer</button>
    <button i18n="@@ModifyEventConfirm" [disabled]="groupForm.valid === false" class="mat-raised-button btn-secondary" (click)="modifyEvent()">
        Confirmer
    </button>
</mat-dialog-actions>
