.profile-container {
  padding: 15px;
  border: none;
  display: flex;
  flex-flow: row;
  justify-content: space-around;

  > .data-container {
    display: flex;
    flex-flow: row;
    padding: 5px;

    > * {
      margin: 0 5px;
    }

    > p {
      border-bottom: 1px solid black;
    }
  }

  .profile-field-info {

  }
}
