<div class="main-full-component">
  <div class="main-container">
    <h1 style="text-align: center">Mon Profil</h1>
  </div>
  <div class="main-container">
    <div class="profile-container" *ngIf="user && modifying === false">
      <div>
        <p class="profile-field-info">{{user.pseudo}}</p>
      </div>

      <div>
        <p class="profile-field-info">{{user.email}}</p>
      </div>
    </div>

    <div class="profile-container" *ngIf="user && modifying === true">
      <mat-form-field class="col-5">
        <input matInput type="text" name="pseudo" [(ngModel)]="pseudo" id="modify_pseudo" class="form-control" placeholder="Pseudo" required>
      </mat-form-field>

      <mat-form-field class="col-5">
        <input matInput type="text" name="email" [(ngModel)]="email" id="modify_email" class="form-control" placeholder="Email" required>
      </mat-form-field>
    </div>

    <div style="display: flex; flex-flow: row-reverse; margin: 5px 0; justify-content: space-between" *ngIf="user">
      <button mat-raised-button type="button" class="btn-primary" *ngIf="modifying === false; else modify" (click)="modifying = true">Modifier le profil</button>
      <ng-template #modify>
        <div>
          <button mat-raised-button type="button" class="btn-primary" (click)="modifying = false">Annuler</button>
          <button mat-raised-button type="button" class="btn-secondary" [disabled]="!pseudo && !email" (click)="modifyProfile()">Modifier</button>
        </div>
      </ng-template>
      <button mat-raised-button type="button" class="btn-danger" (click)="deleteProfile()">Supprimer le profil</button>
    </div>
  </div>
</div>
