<div class="full-view">
  <section class="left-view">
    <section class="main-container">
      <h3 style="text-align: left;">Mes demandes d'Amis</h3>
    </section>
    <section *ngFor="let invitation of friendInvitations.slice(0, 5)">
      <h5 class="test-class" (click)="answerRequest(invitation, 'friend')" >{{invitation.from_user.pseudo}} <i style="float: right;" class="fas fa-user-plus"></i></h5>
    </section>
  </section>
</div>

<section class="main-container">
  <h1 style="text-align: center">Mes Amis</h1>
</section>

<section class="friends">
  <section class="friends-header">
    <section class="friends-search-bar">
      <input title="Rechercher un Utilisateur" type="text" name="searchUser" id="search-user" class="form-control"
             placeholder="Rechercher un Utilisateur" #UserSearchInput matInput
             id="UserInput"
             [matAutocomplete]="users"
             (keyup)="searchUser$.next($event.target.value)">
      <mat-autocomplete #users="matAutocomplete" (optionSelected)="selectedUser($event)">
        <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
          {{user.pseudo}}
        </mat-option>
      </mat-autocomplete>
    </section>
  </section>
  <section class="friend-list">
    <section class="loader" *ngIf="(ready$ | async) === false; else loaded"></section>
    <ng-template #loaded>
      <section *ngIf="displayFriends?.length > 0; else noFriends"
               style="width: 100%; display: flex; flex-flow: row; flex-wrap: wrap; justify-content: space-evenly">
        <section class="friend" *ngFor="let friend of displayFriends; let id = index">
          <section>
            <section class="friend-header">
              <img src="{{friend.image}}" alt="Friend's profile picture"
                   title="Friend's profile picture">
            </section>
            <section class="friend-name">
              <h4 title="{{friend.name}}" class="name-position" (click)="goToUserProfile(friend)">{{friend.name}}</h4>
              <div class="for-icon">
                <i class="far fa-trash-alt" (click)="removeFriend(friend, 0)"></i>
                <i class="far fa-eye" (click)="goToUserProfile(friend)"></i>
              </div>
            </section>
          </section>
        </section>
      </section>
    </ng-template>
    <ng-template #noFriends>
      <section class="no-friends-notification">
        <h2>Vous n'avez aucun ami pour le moment</h2>
      </section>
    </ng-template>
  </section>
</section>
