@import "~scss/variables";

.main-container {
  margin-top: 60px;
  box-shadow: none !important;
}

.friends {
  width: 100%;

  .friends-header {
    width: 100%;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: map_get($colors, lightgrey) solid 1px;

    .friends-search-bar {
      width: 50%;
      margin: 15px;
      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      align-items: center;
      background-color: map_get($colors, light) !important;
      border-radius: 5px;

      & > #UserInput {
        color: black !important;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      & > i {
        padding-left: 8px;
        color: map_get($colors, lightgrey);
      }

      & > input {
        padding: 4px 8px;
        background-color: map_get($colors, light);
        border: none;
        box-shadow: none;

        &:focus {
          outline: none !important;
        }
      }
    }
  }

  & > .friend-list {
    width: 100%;

    & > .no-friends-notification {
      width: 100%;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      padding: 15px;
      margin: 15px 0;
    }

    & .friend {
      width: 28%;
      display: flex;
      flex-flow: column;
      flex-wrap: nowrap;
      border: 1px solid map_get($colors, light);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      margin: 10px;

      &:hover {
        cursor: pointer;
      }

      & .friend-header {
        width: 100%;
        height: calc(3.5vw + 3.5vh);
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-bottom: 1px solid map_get($colors, lightgrey);
        background-color: map_get($colors, light);

        & > img {
          width: calc(3vw + 3vh);
          height: calc(3vw + 3vh);
          border-radius: 100%;
        }
      }

      & .friend-name {
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 5px;

        & > h4 {
          font-size: 1rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: map_get($colors, secondary);
        }

        & > button {
          padding: 0 !important;
          margin-left: 1rem;
        }
        & > i {
          cursor: pointer;
        }

        & > i:hover {
          filter: saturate(2);
        }
      }
    }
  }
}

@media screen and (max-width: map_get($widths, s)), (max-height: map_get($heights, s)) {

  #friend-list-title {
    margin: 0 auto;
  }

  .friends-search-bar {
    margin: 0 0 15px 0;
  }

  .friend {
    width: 85% !important;

    & .friend-header {
      height: calc(7.5vw + 7.5vh);

      & > img {
        height: calc(5vw + 5vh);
      }
    }
  }
}