<section class="loader" *ngIf="(ready$ | async) === false; else loaded"></section>
<ng-template #loaded>
  <section class="requests">
    <section class="request-header">
      <section class="request-search-bar">
        <i class="fas fa-search"></i>
        <input title="Rechercher une requête de demande d'ami" type="text" name="search" id="search" class="form-control" placeholder="Rechercher une requête d'ami" matInput (keyup)="search$.next($event.target.value)">
      </section>
      <a href="javascript:void(0)" (click)="createInvitation()" title="Faire une nouvelle demande d'ami"><i class="far fa-edit"></i></a>
    </section>
    <section *ngFor="let request of displayRequests; let id = index" class="friend-request">
      <section class="request-data">
        <img src="{{request.image}}" alt="user's profile image" (click)="goToUserProfil(request)">
        <h4 (click)="goToUserProfil(request)" title="{{request.name}}"><strong>{{request.name}}</strong></h4>
      </section>
      <section class="request-actions">
        <i class="fas fa-check" (click)="acceptRequest(request, id)"></i>
        <i class="fas fa-times" (click)="declineRequest(request, id)"></i>
      </section>
    </section>
    <section *ngFor="let request of displayRequests; let id = index" class="friend-request">
      <section class="request-data">
        <img src="{{request.image}}" alt="user's profile image" (click)="goToUserProfil(request)">
        <h4 (click)="goToUserProfil(request)" title="{{request.name}}"><strong>{{request.name}}</strong></h4>
      </section>
      <section class="request-actions">
        <i class="fas fa-check" (click)="acceptRequest(request, id)"></i>
        <i class="fas fa-times" (click)="declineRequest(request, id)"></i>
      </section>
    </section>
    <section *ngFor="let request of displayRequests; let id = index" class="friend-request">
      <section class="request-data">
        <img src="{{request.image}}" alt="user's profile image" (click)="goToUserProfil(request)">
        <h4 (click)="goToUserProfil(request)" title="{{request.name}}"><strong>{{request.name}}</strong></h4>
      </section>
      <section class="request-actions">
        <i class="fas fa-check" (click)="acceptRequest(request, id)"></i>
        <i class="fas fa-times" (click)="declineRequest(request, id)"></i>
      </section>
    </section>
  </section>
</ng-template>