@import "~scss/variables";

.group-info {
  width: 100%;
  height: 100%;

  & > .group-name {
    width: 100%;
    border-bottom: 1px solid map_get($colors, lightgrey);
    padding: 15px;
    line-height: 5rem;
    font-size: 1.5rem;
    text-align: start;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;

    & > img {
      width: calc(2.2vw + 2.2vh);
      height: calc(2.2vw + 2.2vh);
      border-radius: 50%;
    }

    & > .group-header-info {
      padding-left: 1rem;
      width: calc(85% - 1rem);

      & > * {
        width: 100%;
      }

      & > .description {
        font-size: 0.7rem;
        font-style: oblique;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 0.7rem;
        color: map_get($colors, desgrey);
      }
    }
  }

}