<section class="loader" *ngIf="ready === false; else loaded"></section>
<ng-template #loaded>
  <section class="group-info-component">
    <section class="group-name">
      <label for="file-input">
        <img src="{{image}}" alt="Image du calendrier" title="Cliquez pour changer l'image">
      </label>
      <input [disabled]="isAdmin !== true" id="file-input" type="file" accept=".jpg,.png,.jpeg" class="image-input" (change)="onFileChange($event)">
      <section class="group-header-info">
        <section *ngIf="group_id === -1">
          <h3 class="clickable-fields" title="Modifier votre pseudo" (click)="changeUser(user.pseudo, 'pseudo')">{{user.pseudo}}</h3>
          <p class="description" title="{{user.description}}">{{user.description}}</p>
        </section>
        <section *ngIf="group_id > -1">
          <h3 [disabled]="isAdmin !== true" class="clickable-fields" (click)="changeGroupBasicInfo(group.name, 'name')">{{group.name}}</h3>
          <p [disabled]="isAdmin !== true" *ngIf="group_id > -1" title="{{group.description}}" class="description clickable-fields" (click)="changeGroupBasicInfo(group.description, 'description')">{{group.description}}</p>
          <p class="description">{{userRole}}</p>
        </section>
      </section>
    </section>

    <section class="group-information">
      <section *ngIf="group_id === -1">
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Données personnelles
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="clickable-fields" (click)="changeUser(user.email, 'email')">Email: {{user.email}}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </section>

      <section *ngIf="group_id > -1">
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Membres
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p *ngIf="isAdmin === true" (click)="addMember()" class="add-member"><i class="fas fa-plus"></i> <span>Ajouter un membre</span></p>
              <section *ngFor="let member of group_members, let i = index" class="group-member-container">
              <img src="{{member.image}}">
              <p class="group-member-pseudo">{{member.pseudo}}</p>
              <i class="fas fa-ellipsis-h" [matMenuTriggerFor]="actions"></i>
              <mat-menu #actions="matMenu">
                <button *ngIf="member.pseudo === (user$ | async).pseudo" mat-menu-item (click)="leaveGroup()">Quitter le calendrier</button>
                <section *ngIf="member.pseudo !== (user$ | async).pseudo">
                  <button *ngIf="isAdmin === true" mat-menu-item (click)="fireFromGroup(member.pseudo)">Supprimer du calendrier</button>
                  <button mat-menu-item (click)="goToProfile(member.pseudo)">Accéder à son profil</button>
                  <mat-delimiter></mat-delimiter>
                  <button mat-menu-item (click)="addFriend(member.pseudo)">L'ajouter en ami</button>

                  <button mat-menu-item *ngIf="isAdmin === true" [matMenuTriggerFor]="role_menu">Roles</button>
                  <mat-menu #role_menu="matMenu">
                  <button mat-menu-item *ngFor="let perm of PermSrv.permission_list"
                          [value]="perm.role"
                          [disabled]="perm.role === member.role"
                          (click)="changeMemberPermission(member, perm.role)">
                      {{perm.text}}
<!--                     <a *ngIf="perm.role === member.role">Yes</a>-->
                  </button>
                  </mat-menu>

<!--                    <button *ngIf="isAdmin === true" mat-menu-item (click)="changeMemberPermission(member)">Changer le role</button>-->

                </section>
              </mat-menu>
            </section>
          </mat-expansion-panel>
        </mat-accordion>
      </section>
    </section>
  </section>
</ng-template>
