<div class="flex flex-r-centered">
    <h2 i18n="@@FoundSlotTitle" mat-dialog-title>Trouver un créneau libre</h2>
</div>
<mat-dialog-content style="white-space: pre-wrap; text-align: center">
    <div>
        <form #groupForm="ngForm" (ngSubmit)="FoundSlot()" class="form-row" style="padding: 15px; margin: 15px 0">

            <div class="my_layout" fxLayout="row">
                <mat-form-field style="width: 45%;"
                                *ngIf="data.is_global_calendar == true">
                    <mat-select i18n-placeholder="@@FoundSlotCalendar" placeholder="Calendrier"
                                style="width: 100%"
                                [(ngModel)]="dialog_calendar_id"
                                name="dialog_calendar_id" required>
                        <mat-option *ngFor="let calendar of calendars_list" [value]="calendar.id">
                            {{calendar.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field [ngStyle]="{width: (data.is_global_calendar == true) ? '45%' : '100%'}">
                    <mat-select placeholder="Type" required
                                [(ngModel)]="eventType"
                                name="eventType">
                        <mat-option *ngFor="let type of eventTypes" [value]="type.value">
                            {{type.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!--            <mat-form-field style="width: 100%">-->
            <!--                <input matInput-->
            <!--                       placeholder="Nom de l'évenement"-->
            <!--                       name="name"-->
            <!--                       [(ngModel)]="name"-->
            <!--                       required>-->
            <!--            </mat-form-field>-->

            <!--            <mat-form-field style="width: 100%">-->
            <!--                <input matInput-->
            <!--                       placeholder="Description"-->
            <!--                       name="description"-->
            <!--                       [(ngModel)]="description"-->
            <!--                       required>-->
            <!--            </mat-form-field>-->

            <!--            <div layout-gt-sm="row">-->
            <div class="my_layout" fxLayout="row" style="width: 100%; align-items: center;">
                <mat-label i18n="@@FoundSlotDuration">Durée:</mat-label>
                <div class="input-error-message" style="width: 40%">
                    <mat-form-field>
                        <input matInput
                               [(ngModel)]="heure"
                               name="heure"
                               type="number"
                               i18n-placeholder="@@FoundSlotHours"
                               placeholder="Heure"
                               min="0"
                               max="24"
                               maxlength="2"
                               required>
                    </mat-form-field>
                    <p class="error-message" *ngIf="heure > 24">24h maximum</p>
                </div>

                <div class="input-error-message" style="width: 40%">
                    <mat-form-field>
                        <input matInput
                               [(ngModel)]="minute"
                               name="minute"
                               type="number"
                               placeholder="Minute"
                               min="0"
                               max="60"
                               maxlength="2"
                               required>
                    </mat-form-field>
                    <p class="error-message" *ngIf="minute > 60">60min maximum</p>
                </div>
            </div>

            <!--            <div class="my_layout" fxLayout="row" style="width: 100%">-->
            <!--                <mat-form-field>-->
            <!--                    <mat-select placeholder="Visibilité" required-->
            <!--                                [(value)]="eventVisibility"-->
            <!--                                name="EventVisibility">-->
            <!--                        <mat-option *ngFor="let visibility of eventVisibilities" [value]="visibility.value">-->
            <!--                            {{visibility.viewValue}}-->
            <!--                        </mat-option>-->
            <!--                    </mat-select>-->
            <!--                </mat-form-field>-->
            <!--            </div>-->

            <div class="my_layout" fxLayout="row" style="width: 100%">
                <div class="input-error-message" style="padding: 15px;">
                    <mat-form-field>
                        <input matInput
                               class="form-control"
                               type="text"
                               mwlFlatpickr
                               [(ngModel)]="start"
                               [altInput]="true"
                               [convertModelValue]="true"
                               [enableTime]="true"
                               name="start"
                               dateFormat="Y-m-dTH:i"
                               altFormat="F j, Y H:i"
                               i18n-placeholder="@@FoundSlotBeginningDate"
                               placeholder="Date minimum de debut"
                               [locale]="locale"
                               [time24hr]="data.locale === 'fr'"
                               required>
                    </mat-form-field>
                    <p i18n="@@FoundSlotBeginningDateErrorMessage" class="error-message" *ngIf="start < this.current_date">La date de début d'évènement ne doit pas
                        être antérieur à la date actuelle.</p>
                </div>

                <div class="input-error-message" style="padding: 15px;">
                    <mat-form-field>
                        <input matInput
                               class="form-control"
                               type="text"
                               mwlFlatpickr
                               [(ngModel)]="end"
                               [altInput]="true"
                               [convertModelValue]="true"
                               [enableTime]="true"
                               name="end"
                               dateFormat="Y-m-dTH:i"
                               altFormat="F j, Y H:i"
                               i18n-placeholder="@@FoundSlotEndingDate"
                               placeholder="Date maximum de fin"
                               [locale]="locale"
                               [time24hr]="data.locale === 'fr'"
                               required>
                    </mat-form-field>
                    <p i18n="@@FoundSlotEndingDateErrorMessage" class="error-message" *ngIf="end < this.current_date">La date de fin d'évènement ne doit pas être
                        antérieur à la date actuelle.</p>
                    <p i18n="@@FoundSlotEndingDateErrorMessage2" class="error-message" *ngIf="start > end">La date de fin d'évènement ne doit pas être
                        antérieur à la date de début d'évènement.</p>
                </div>
            </div>
            <mat-expansion-panel style="width: 100%">
                <mat-expansion-panel-header>
                    <mat-panel-description style="justify-content: center">
                        Options
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="my_layout" fxLayout="row">
                    <mat-form-field style="width: 60%">
                        <input matInput
                               i18n-placeholder="@@FoundSlotLocation"
                               placeholder="Lieux"
                               name="location"
                               [(ngModel)]="location">
                    </mat-form-field>

                    <div class="input-error-message" style="width: 30%">
                        <mat-form-field>
                            <input matInput
                                   [(ngModel)]="limit"
                                   name="slot_number"
                                   type="number"
                                   i18n-placeholder="@@FoundSlotSlotsMax"
                                   placeholder="nombre maximum de créneaux proposé"
                                   min="10"
                                   max="20"
                                   maxlength="2"
                                   required>
                        </mat-form-field>
                        <p i18n="@@FoundSlotSlotMinErrorMessage" class="error-message" *ngIf="limit < 10">10 choix minimum</p>
                        <p i18n="@@FoundSlotSlotMaxErrorMessage" class="error-message" *ngIf="limit > 20">20 choix maximum</p>
                    </div>
                </div>

            </mat-expansion-panel>
        </form>
    </div>
</mat-dialog-content>
<br>
<mat-dialog-actions style="display: flex; justify-content: space-between">
    <button i18n="@@FoundSlotCancel" class="mat-raised-button btn-primary" [mat-dialog-close]="null">Annuler</button>

    <button i18n="@@FoundSlotConfirm" [disabled]="groupForm.valid === false || end < this.current_date || start < this.current_date || start > end || heure > 24 || minute > 60 || limit < 10 || limit > 20"
            class="mat-raised-button btn-secondary" (click)="FoundSlot()">
        Confirmer
    </button>
</mat-dialog-actions>
