<div class="main-full-component">
  <div class="main-container">
    <h1 style="text-align: center">Mes Groupes</h1>
  </div>
  <div class="main-container">
    <div class="group-creation-container">
      <button class="btn-secondary" (click)="createGroup()" mat-raised-button><i class="fas fa-plus"></i> Créer un groupe</button>
    </div>
    <div *ngIf="userGroups?.length > 0, else empty">
      <div class="group" *ngFor="let group of userGroups" (click)="goToGroup(group, $event)">
        <div>
          <div class="flex-r" style="margin-top: 10px">
            <i class="fas fa-users" style="margin-top: 10px; margin-right: 5px"></i>
            <p> {{group.name}}</p>
          </div>
        </div>
        <i class="fas fa-calendar-alt" (click)="goToCalendar(group)"></i>
      </div>
    </div>
    <ng-template #empty>
      <p style="text-align: center">Vous n'appartenez à aucun groupe</p>
    </ng-template>
  </div>
</div>
