@import "~scss/variables";

.main-container {
  width: 40% !important;
}

.group {
  cursor: pointer;
  padding: 5px;
  margin: 5px 0;
  font-size: 2rem;
  height: 3rem;
  border-bottom: 1px solid map_get($colors, desgrey);
  background-color: transparent;
  color: map_get($colors, primary);
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  transition: background-color 1s, color 1s;

  &:hover {
    background-color: rgba(245,245,245,1);
    color: map_get($colors, secondary);
  }
}

.groupe-title {
  height: 64px;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.group-creation-container {
  display: flex;
  flex-flow: row-reverse;
  margin: 20px 0;
}
