<nav class="navbar navbar-expand-lg navbar-default fixed-top">
  <a id="logo-nav" class="navbar-brand" routerLink="/dashboard" *ngIf="isLogged$ | async; else toConnection">
    <img src="/assets/Pictures/Perfectweek Logo.png" height="45">
  </a>

  <ng-template #toConnection>
    <a id="logo-nav-alt" class="navbar-brand" routerLink="/login">
      <img src="/assets/Pictures/Perfectweek Logo.png" height="45">
    </a>
  </ng-template>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">
      <i class="fas fa-bars"></i>
    </span>
  </button>
  <div class="collapse navbar-collapse collapse-toggle-navbar" id="navbarSupportedContent">
    <div *ngIf="isLogged$ | async; then navLogin else navLogout"></div>
    <ng-template #navLogin>
      <ul class="navbar-nav mr-auto" data-toggle="collapse" data-target=".navbar-collapse.show">
        <li class="nav-item"><a class="nav-link" routerLink="dashboard">Dashboard</a></li>
      </ul>

      <ul class="navbar-nav ml-auto" data-toggle="collapse" data-target=".navbar-collapse.show">
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile"><i class="fas fa-user"></i> Mon profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/friends"><i class="fas fa-user-friends"></i> Mes Ami(e)s</a>
        </li>
        <li class="nav-item">
            <a class="nav-link button" href="javascript:void(0)" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Se déconnecter</a>
        </li>
      </ul>
    </ng-template>
    <ng-template #navLogout>
      <ul class="navbar-nav ml-auto" data-toggle="collapse" data-target=".navbar-collapse.show">
        <li class="nav-item">
          <a class="nav-link" routerLink="/registration"><i class="fa fa-user" aria-hidden="true"></i> S'inscrire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login"><i class="fas fa-sign-in-alt"></i> Se connecter</a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>