<div class="full-view">
    <section class="left-view">

        <mat-expansion-panel style="width: 100%" class="fullsize">
            <mat-expansion-panel-header>
                <mat-panel-description style="justify-content: center" i18n="@@EventSuggestionFilters">
                    Filtre
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile *ngFor="let type of eventTypes">
                    <mat-checkbox
                                  [value]="type.value"
                                  [checked]="type.stat"
                                  [(ngModel)]="type.stat"
                                  (click)="check_filter()"
                                  color="primary">
                        {{type.viewValue}}
                    </mat-checkbox>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-form-field class="example-full-width" style="width: 100%">
                <input matInput i18n-placeholder="@@EventSuggestionSearch" placeholder="Rechercher un évènement" [(ngModel)]="search">
            </mat-form-field>
        </mat-expansion-panel>

        <mat-card class="fullsize">
            <mat-card-title i18n="@@EventSuggestionDiscover"> Découvrir </mat-card-title>
            <mat-card-subtitle i18n="@@EventSuggestionDiscoverSelection"> Sélection d'évènements pour l'utilisateur </mat-card-subtitle>
        </mat-card>

        <ul class="event-list fullsize">
            <li *ngFor="let e of suggestions" [value]="e" (click)="previewEvent(e)">
                <mat-card class="card" *ngIf="check_stat(e) === true;">
                    <img mat-card-image src="{{e.image}}" alt="Event image">
                    <mat-99vw-card-title>{{e.name}}</mat-99vw-card-title>
                    <mat-card-subtitle>{{e.description}}</mat-card-subtitle>
                    <div class="date">{{e.start_time.toLocaleDateString('fr-FR', this.options)}}</div>
                </mat-card>
            </li>
        </ul>

        <div class="mobile">
            <section *ngFor="let e of suggestions" [value]="e" (click)="previewEvent(e)">
                <mat-card class="card">
                    <h4>{{e.name}}</h4>
                    <img mat-card-image src="{{e.image}}" alt="Event image">
                </mat-card>
            </section>
        </div>
    </section>

    <section class="center-view">
        <mwl-demo-component #calendar [displayMap]="false" [displayOnly]="true" [in_calendar_id]="calendar_id"></mwl-demo-component>
    </section>


    <div class="right-view" *ngIf="focusedEvent" style="max-width: 20% !important;">
        <mat-card class="card-large fullsize">
            <img src="{{focusedEvent[1].image}}" alt="Event image" class="event-image" style="display: block; height: auto; margin-left: auto; margin-right: auto; max-height: 400px; max-width: 400px">
            <div class="event-info-full">
                <div class="inline">
                    <mat-card-title>{{focusedEvent[1].name}}</mat-card-title>
                </div>
                <div class="inline">
                    <mat-card-title>{{focusedEvent[1].description}}</mat-card-title>
                </div>
                <div class="inline">
                    <img src="../../../assets/Pictures/clock-circular-outline.svg" class="logo-small">
                    <div class="interval">
                        <div class="start_time">{{focusedEvent[1].start_time.toLocaleDateString('fr-FR', this.options_full)}}</div>
                        <div class="end_time">{{focusedEvent[1].end_time.toLocaleDateString('fr-FR', this.options_full)}}</div>
                    </div>
                </div>

                <div class="inline">
                    <img src="../../../assets/Pictures/maps-and-flags.svg" class="logo-small">
                    <div>{{focusedEvent[1].location}}</div>
                </div>
                <mat-card-subtitle class="choices">
                    <button i18n="@@EventSuggestionJoinEvent" mat-raised-button class="join-event" (click)="joinEvent(focusedEvent[1].id)">Rejoindre l'évènement</button>
                </mat-card-subtitle>
            </div>
        </mat-card>

        <div class="card-large mobile-right">
            <mat-card class="card-large">
                <img src="{{focusedEvent[1].image}}" alt="Event image" class="event-image" style="display: block; height: auto; margin-left: auto; margin-right: auto; max-height: 400px; max-width: 400px">
                <h4 style="text-align: center">{{focusedEvent[1].name}}</h4>
                <mat-card-subtitle class="choices">
                    <button i18n="@@EventSuggestionJoinEvent" mat-raised-button class="join-event" (click)="joinEvent(focusedEvent[1].id)">Rejoindre l'évènement</button>
                </mat-card-subtitle>
            </mat-card>
        </div>
    </div>
</div>
