<div class="form-background">
  <div *ngIf="modify === false, else modifying">
    <div class="main-container">
      <h1 style="text-align: center">{{group?.name}}</h1>
    </div>
    <div class="main-container">
      <div class="member-panel">
        <h3>Membres</h3>
        <!--<div class="group-list-member">-->
          <!--<p>{{group?.owner}}</p>-->
          <!--<i class="fas fa-jedi" title="Propiétaire"></i>-->
        <!--</div>-->
        <div *ngFor="let member of display_members" class="group-list-member">
          <p>{{member.pseudo}}</p>
          <i *ngIf="member.role === 'Admin'" class="fab fa-jedi-order" title="Administrateur"></i>
        </div>
      </div>
      <div class="button-panel">
        <button [disabled]="user_role !== 'Admin'" mdbBtn type="button" color="red" class="waves-light" mdbWavesEffect (click)="deleteGroup()">Supprimer</button>
        <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect (click)="Modifying()">Modifier</button>
      </div>
    </div>
  </div>
  <ng-template #modifying>
    <div>
      <div class="main-container">
        <div class="md-form name-container">
          <input class="form-control name-input" [(ngModel)]="group.name">
        </div>
      </div>
      <div class="main-container">
        <div class="member-panel">
          <h3>Membres</h3>
          <!--<div class="group-list-member" style="margin: 15px 0">-->
            <!--<mat-select [(ngModel)]="group.owner">-->
              <!--<mat-option *ngFor="let member of group.members" [value]="member.pseudo">{{member.pseudo}}</mat-option>-->
            <!--</mat-select>-->
            <!--<i class="fas fa-jedi" title="Propriétaire" style="margin-left: 15px"></i>-->
          <!--</div>-->
          <div *ngFor="let member of display_members" class="group-list-member">
            <p>{{member.pseudo}}</p>
            <mat-select [(ngModel)]="member.role">
              <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
            </mat-select>
            <i (click)="deleteMember(member)" class="fas fa-times"></i>
          </div>
          <div class="group-list-member md-form">
            <input class="form-control new-member-input" [(ngModel)]="new_member.pseudo" placeholder="Pseudo">
            <mat-select [(ngModel)]="new_member.role" placeholder="Role">
              <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
            </mat-select>
            <i (click)="addMember()" class="fas fa-plus"></i>
          </div>
        </div>
        <div class="button-panel">
          <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect (click)="modifyGroup()">Sauvegarder les changements</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
