@import "variables";

.form-container-sm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: $main-full-page-height;

  form {
    width: 40%;
    padding: 15px;
    box-shadow: 0 0 6px 2px rgba(50, 50, 50, .25);
    z-index: 1;
    background-color: rgba(255, 255, 255, .85);

    &, .md-form label, .fa {
      color: #757575 !important;
    }

    .md-form {
      padding: 5px 0;
      outline: none !important;
    }

    .md-form input:focus {
      border: none !important;
    }

    .md-form input {
      border-bottom-width: 1px;
      border-bottom-color: #757575 !important;

      &.ng-touched.ng-valid {
        border-bottom-width: 2px;
        border-bottom-color: #2bbbad !important;
      }

      &.ng-touched.ng-invalid {
        border-bottom-width: 2px;
        border-bottom-color: red !important;
      }
    }
  }
}

.col-fields {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

div.input-error-message {
  width: 100%;

  & > mat-form-field {
    width: 100%;
  }
}

.background-logo-name {
  position: fixed;
  top: calc(25% - (7.5vw + 7.5vh));
  left: calc(50% - (10vw + 10vh));
  background: url("../assets/Pictures/logo_name.png");
  background-size: cover;
  z-index: 1;
  width: calc(20vw + 20vh);
  height: calc(5vw + 5vh);
}

.background-logo-circle {
  position: fixed;
  top: calc(100% - (20vw + 20vh));
  left: calc(15% - (20vw + 20vh));
  z-index: 1;
  background: url("../assets/Pictures/logo_circle.png");
  background-size: cover;
  width: calc(40vw + 40vh);
  height: calc(40vw + 40vh);
  -webkit-animation:spin 256s linear infinite;
  -moz-animation:spin 256s linear infinite;
  animation:spin 256s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
