@import "variables";


.btn-danger {
  background-color: map_get($colors, danger);
  color: white !important;

  &:hover, &:active {
    background-color: map_get($colors, red) !important;
  }
}

.btn-primary {
  background-color: map_get($colors, primary);
  color: white !important;

  &:hover, &:active {
    background-color: map_get($colors, true_blue) !important;
  }
}

.btn-secondary {
  background-color: map_get($colors, secondary);
  color: white !important;

  &:hover, &:active {
    background-color: map_get($colors, aquamarine) !important;
  }
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: #1C4891;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:#5ABC95;
  background-color:#5ABC95;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:rgba(255, 37, 37, .26);
}
