$colors: (
  primary:    #1C4891,
  secondary:  #5ABC95,
  danger:     #CF0A2C,
  red:        #F40000,
  true_blue:  #0069d9,
  aquamarine: #6BCEA6,
  light:      #f4f4f4,
  dark:       #222,
  energized:  #ffc527,
  royal:      #7e60ff,
  subtle:     #444444,
  vibrant:    rebeccapurple,
  bright:     #ffc125,
  desgrey:    #717271,
  lightgrey:  #D1D2D1,
);

$navbar-height: 4rem;
$navbar-padding: 2rem;


$main-full-page-margin: #{$navbar-height};
$main-full-page-height: calc(100vh - #{$navbar-height});
