@import "~scss/variables";

main {
  width: 100%;
  height: 100%;

  .message {
    width: 30%;
    text-align: center;

    h1 {
      font-size: 10rem;
      font-weight: 900;
    }

    h2 {
      font-size: 1.5rem;
      margin-bottom: 30px;
    }

    a {
      background-color: map_get($colors, primary);
      width: fit-content;
      padding: 15px;
      color: white;
      transition: background-color 1s;
    }

    a:hover {
      background-color: map_get($colors, secondary);
      color: white;
      text-decoration: none;
    }
  }

  .background-logo-circle {
    position: fixed;
    top: calc(55% - (15.5vw + 15.5vh));
    left: calc(50% - (15.5vw + 15.5vh));
    z-index: 1;
    width: calc(31vw + 31vh);
    height: calc(31vw + 31vh);
  }
}
